body{
    background-color: rgb(245, 242, 242);
    margin: 0px;
    font-family: 'Open Sans', sans-serif;

}
#offer{
    color: red;
}



.headding{
    display: flex;
    background-color: rgb(248, 231, 231);
    /* margin-left: 50px; */
   
}

.header{
    margin-left: 70px;
    padding: 60px;
}

#button{
    color: aliceblue;
    background-color: rgb(245, 98, 98);
    border-radius: 5px;
    padding: 7px 20px;
}
.img{
    width: 225px;
    height: 350px;
    margin-left: 0px;
    padding: 50px 0px 50px 0px;

}

.second-section{
    text-align: center;
    margin-top: 50px;
}


.Flowers{
    width: 130px;
    height: 200px;
    display: inline;
    margin-left: 60px;
    margin-right: 90px;
}


.para{
   
}

.Flower{
    display: inline;
    
    margin-left: 60px;
    margin-right: 60px;
    margin: 80px;
}

.thrid-section{
    background-color:  rgb(221, 198, 198);
    text-align: center;
    display: flex;
    margin-left: 100px;
    width: 800px;
}
.Flower-ofer{
    margin-left: 80px;
   width: 120px;
   padding: 40px;

}
.communication{
    background-color: rgb(235, 213, 213);
    margin: 100px;
    width: 800px;


}

.communicate{
    margin-right: 60px;
    margin-left: 80px;
    margin-top: 20px;
    padding-top: 50px;
    
    
}

.paragh{
    display: flex;

}
.communicate-para{
    padding-bottom: 50px;
    padding-left: 10px;
    margin-left: 60px; 

}

#colr{
    color: rgb(245, 241, 241);
}

#btn{
    background-color: aliceblue;

    padding: 10px;
    padding-right: 100px;
}

.Instagram{
    text-align: center;
}
.Instagram-div{
    margin: 100px;
    display: flex;
}
.Instagram-img{
    display: flex;
    width: 190px;
    height: 200px;
    margin-left: 10px;
    /* padding: 40px; */
}


.forthpart{
    background-image: url("/Rectangle\ 9.png");
    height: 300px;
    text-align: center;
    margin-top: 50px;
    padding: 40px;
    

}

.footer{
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
}